<div class="container"
     style="padding-top: 56px;">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card">
        <div class="card-body">
          <div class="row justify-content-center">
            <!-- <img
              src="assets/img/iconfinder_Smart_sensor_4629045.png"
              width="100"
              height="100"
            /> -->
          </div>
          <div class="row justify-content-center">
            <h2 class="text-dark">Sansara Farm</h2>
          </div>
          <form role="form"
                class="mx-4"
                #f="ngForm"
                (ngSubmit)="resetPassword(f)">
            <div class="form-group">
              <label for="email">อีเมล</label>
              <input type="email"
                     class="form-control"
                     placeholder="อีเมล"
                     required
                     name="email"
                     ngModel
                     pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                     #email="ngModel" />
              <small class="text-danger"
                     [hidden]="email.valid || (email.pristine && !f.submitted)">
                กรุณากรอกอีเมลให้ถูกต้อง</small>
            </div>
            <div class="text-center">
              <button type="submit"
                      class="btn btn-primary my-4">
                รีเซตรหัสผ่าน
              </button>
            </div>
            <div *ngIf="!!alerts">
              <div *ngFor="let alert of alerts">
                <alert [type]="alert.type"
                       [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
              </div>
            </div>
            <div class="text-center">
              <a class="text-primary"
                 [routerLink]="['/signin']"
                 routerLinkActive="active"><small>กลับไปหน้า เข้าสู่ระบบ</small></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
