/* You can add global styles to this file, and also import other style files */
@import '~ngx-ui-switch/ui-switch.component.scss';

body {
  background-color: #F4F3EF !important;
  font-family: 'Sarabun', sans-serif !important;
}

ngx-gauge {
  height: 150px !important;
}
