<div class="container" style="padding-top: 56px;">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card">

        <div class="card-body">
          <div class="row justify-content-center">
            <!-- <img
              src="assets/img/iconfinder_Smart_sensor_4629045.png"
              width="100"
              height="100"
            /> -->
          </div>
          <div class="row justify-content-center">
            <h2 class="text-dark">Sansara Farm</h2>
          </div>
          <form role="form" class="mx-4" #f="ngForm" (ngSubmit)="loginEmail(f)">
            <div class="form-group">
              <label for="email">อีเมล</label>
              <input
                type="email"
                class="form-control"
                placeholder="อีเมล"
                required
                name="email"
                ngModel
                pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                #email="ngModel"
              />
              <small
                class="text-danger"
                [hidden]="email.valid || (email.pristine && !f.submitted)"
              >
                กรุณากรอกอีเมลให้ถูกต้อง</small
              >
            </div>
            <div class="form-group">
              <label for="password">รหัสผ่าน</label>
              <input
                type="password"
                class="form-control"
                placeholder="รหัสผ่าน"
                required
                name="password"
                ngModel
                #password="ngModel"
              />
            </div>
            <small
            class="text-danger"
            [hidden]="password.valid || (password.pristine && !f.submitted)"
          >
            กรุณากรอกรหัสผ่าน</small
          >
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4">
                เข้าสู่ระบบ
              </button>
              <div *ngIf="!!alerts">
                  <div *ngFor="let alert of alerts">
                      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
                    </div>
               </div>
              <div class="row mt-2 mx-0">
                  <a
                    [routerLink]="['/forgot-password']"
                    routerLinkActive="active"
                    class="text-primary"
                    ><small>ลืมรหัสผ่าน?</small></a
                  >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
