<div class="container" style="padding-top: 56px;">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card">
        <div class="card-body">
          <div class="row justify-content-center">
            <img
              src="https://cdn0.iconfinder.com/data/icons/smart-farm-flat-agriculture-technology/512/Smart_sensor-512.png"
              width="100"
              height="100"
            />
          </div>
          <div class="row justify-content-center">
            <h2 class="text-dark">Sansara Farm</h2>
          </div>
          <form role="form" class="mx-4" #f="ngForm" (ngSubmit)="loginEmail(f)">
            <div class="form-group">
              <label for="email">Email address</label>
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                required
                name="email"
                ngModel
                pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                #email="ngModel"
              />
              <small
                class="text-danger"
                [hidden]="email.valid || (email.pristine && !f.submitted)"
              >
                Enter the email correctly</small
              >
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                required
                name="password"
                ngModel
                #password="ngModel"
              />
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4">
                Sign in
              </button>
              <div class="row mt-2 mx-0">
                  <a
                    [routerLink]="['/forgot-password']"
                    routerLinkActive="active"
                    class="text-primary"
                    ><small>Forgot password?</small></a
                  >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
