<div class="row"
     style="padding: 2px 2px 2px 15px !important;">
  <p>อัพเดทค่าเมื่อ : {{ nowDate }}</p>
</div>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-temperature-low text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">อากาศ</p>
              <p class="card-title">อุณหภูมิ
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="d-flex justify-content-center">
          <ngx-gauge [type]="gaugeType"
                     [thick]="10"
                     [value]="lastedSensor.airTemperature"
                     [label]="gaugeTempLabel"
                     [append]="gaugeTempAppendText"
                     [thresholds]="thresholdConfig">
          </ngx-gauge>

        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-cloud-rain text-info"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">อากาศ</p>
              <p class="card-title">ความชื้น
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="d-flex justify-content-center">
          <ngx-gauge [type]="gaugeType"
                     [thick]="10"
                     [value]="lastedSensor.airHumidity"
                     [label]="gaugeHumidLabel"
                     [append]="gaugeHumidAppendText"
                     [thresholds]="thresholdConfig">
          </ngx-gauge>

        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-thermometer-three-quarters text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">ดิน</p>
              <p class="card-title">อุณหภูมิ
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="d-flex justify-content-center">
          <ngx-gauge [type]="gaugeType"
                     [thick]="10"
                     [value]="lastedSensor.soilTemperature"
                     [label]="gaugeTempLabel"
                     [append]="gaugeTempAppendText"
                     [thresholds]="thresholdConfig">
          </ngx-gauge>

        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fas fa-tint text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">ดิน</p>
              <p class="card-title">ความชื้น
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="d-flex justify-content-center">
          <ngx-gauge [type]="gaugeType"
                     [thick]="10"
                     [value]="lastedSensor.soilMoisture"
                     [label]="gaugeHumidLabel"
                     [append]="gaugeHumidAppendText"
                     [thresholds]="thresholdConfig">
          </ngx-gauge>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">กราฟ</h5>
        <p class="card-category">แสดงผลข้อมูลจากการติดตามของระบบเซนเซอร์</p>
      </div>
      <div class="card-body ">
        <div>
          <tabset [justified]="true">
            <br>
            <tab heading="อุณหภูมิ(อากาศ)"
                 id="tab1">
              <canvas id=airTempChart
                      width="400"
                      height="200"></canvas>
            </tab>
            <tab heading="ความชื้น(อากาศ)">
              <canvas id=airHumidChart
                      width="400"
                      height="200"></canvas>
            </tab>
            <tab heading="อุณหภูมิ(ดิน)">
              <canvas id=soilTempChart
                      width="400"
                      height="200"></canvas>
            </tab>
            <tab heading="ความชื้น(ดิน)">
              <canvas id=soilMoisChart
                      width="400"
                      height="200"></canvas>
            </tab>
          </tabset>
        </div>

      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> อัพเดทเมื่อ {{ fromNowDate }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">วาล์วน้ำ</h5>
        <p class="card-category">รูปแบบการควบคุม : {{valveSelected.text}}</p>
      </div>
      <div class="card-body"
           *ngIf="valveSelected.state != 2">

        <div class="d-flex justify-content-center">
          <ui-switch [(ngModel)]="valveEnable"
                    (change)="onChangeValveState($event)"
                     size="large">
            <i class="fa fa-check"
               *ngIf="valveEnable"></i>
            <i class="fa fa-times"
               *ngIf="!valveEnable"></i>
          </ui-switch>
        </div>
      </div>
      <div class="card-footer ">
        <p *ngIf="valveSelected.state != 2">สถานะ :
          {{ (valveSelected.state == 1) ? 'เปิดการใช้งาน' : 'ปิดการใช้งาน'}}</p>
        <hr>

        <button (click)="valveSettings()"
                class="btn btn-info"
                style="width: 100%;"><i class="fas fa-cogs"></i> ตั้งค่าการควบคุมวาล์ว</button>
      </div>
    </div>
  </div>
</div>
